@charset "UTF-8";
@import url("blocks.css");
@import url("etc.css");
@import url("head.css");
@import url("popup.css");
@import url("wierd.css");
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 11.5px;
    height: 100%;
    line-height: 140%;
    position: absolute;
	width: 100%;
}
body {
    background: -webkit-linear-gradient(top left, #ddd, #f2f2f2, #eee, #f2f2f2, #ddd) fixed;
    background: -moz-linear-gradient(top left, #ddd, #f2f2f2, #eee, #f2f2f2, #ddd) fixed;
    background: linear-gradient(top left, #ddd, #f2f2f2, #eee, #f2f2f2, #ddd) fixed;
    background-color: #f2f2f2;
    font-family: Archer, Georgia, serif;
}
/*div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h2 {
    font-size: 23px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 7px;
}
h2, h3 {
    color: #973f1e;
}
h3 {
    font-size: 19px;
    line-height: 22px;
    font-weight: normal;
}
h4 {
    font-size: 15px;
    line-height: 22px;
}
img {
    border: 0;
}
img.portait {
	margin-right: 9px;
	border: 1px solid #ddd;
}
p, li {
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 11px;
    text-indent: 1px;
}
a {
	color: #369;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
table {
	clear: both;
}
ul {
	font-size: 100%;
	list-style-type: square;
	padding-left: 22px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* SEGMENTS */
#all {
    background-color: #fff;
    border: 1px solid #e8ebea;
    margin: 3px auto;
    position: relative;
    width: 955px;
}
#feature {
    margin-left: 28px;
    overflow: visible;
    position: relative;
    width: 900px;
}
#feature table {
	margin: 0 -10px;
}
#footer {
    color: #857b72;
    clear: both;
    border-top: 1px solid #e7e5e3;
    font-family: Verdana;
    height: 22px;
    margin: 8px 28px;
    position: relative;
    vertical-align: baseline;
    width: 900px;
}
#footer p {
    font-size: 10px;
    line-height: 28px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
