/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.IE .blocks a.learn {
	line-height: 9px;
	margin: 7px 3px 0 0;
	z-index: 3;
}
.IE .vjs-fullscreen-control {
    display: none;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* JUNK */
#ie {
    height: auto !important; height : 1%;
}
body.IE {
    line-height: 150%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
